/* ProjectSectionTablet General Styling */

#project-page-tablet {
    margin-top: 3%;
}

#project-headers-container-tablet {
    margin: 0 auto;
    width: 70%;
}

#project-header-tablet {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#project-subheader-tablet {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 1%;
}

#project-container-tablet {
    background-color: rgb(180, 74, 70);
    margin: 0 auto;
    width: 70%;
    padding: 1%;
    overflow-y: auto;
    height: 715px;
}

/* Subsections Styling */

#allchatv2-image-tablet, #allchatv1-image-tablet, 
#gnorm-image-tablet {
    margin-top: 2.5%;
}

#portfolio-container-tablet, #allchatv2-container-tablet, 
#allchatv1-container-tablet, #gnorm-container-tablet {
    margin-top: 0;
    border: solid white 2px;
    margin-top: 5%;
}

#portfolio-header-tablet, #allchatv2-header-tablet, 
#allchatv1-header-tablet, #gnorm-header-tablet {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 5%;
}

#github-header-tablet, #heroku-header-tablet, 
.project-list-item-tablet {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#portfolio-github-tablet, #portfolio-heroku-tablet, 
#allchatv2-github-tablet, #allchatv1-github-tablet, 
#allchatv2-heroku-tablet, #allchatv1-heroku-tablet, 
#gnorm-heroku-tablet, #gnorm-github-tablet {
    color: white;
    text-decoration-line: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}