#project-page-tablet {
    margin-top: 3%;
}

#project-headers-container-tablet {
    margin: 0 auto;
    width: 70%;
}

#project-header-tablet {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#project-subheader-tablet {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 1%;
}

#project-container-tablet {
    background-color: rgb(180, 74, 70);
    margin: 0 auto;
    width: 70%;
    padding: 1%;
    overflow-y: auto;
    height: 715px;
}

#allchatv2-image-tablet {
    margin-top: 2.5%;
}

#allchatv1-image-tablet {
    margin-top: 2.5%;
}

#feast-fitness-image-tablet {
    margin-top: 2.5%;
}

#portfolio-container-tablet {
    margin-top: 0;
    border: solid white 2px;
    margin-top: 5%;
}

#allchatv2-container-tablet {
    margin-top: 0;
    border: solid white 2px;
    margin-top: 5%;
}

#allchatv1-container-tablet {
    margin-top: 0;
    border: solid white 2px;
    margin-top: 5%;
}

#feast-fitness-container-tablet {
    margin-top: 0;
    border: solid white 2px;
    margin-top: 5%;
}

#portfolio-header-tablet {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 5%;
}

#allchatv2-header-tablet {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 5%;
}

#allchatv1-header-tablet {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 5%;
}

#feast-fitness-header-tablet {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 5%;
}

#github-header-tablet {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#heroku-header-tablet {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.project-list-item-tablet {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#portfolio-github-tablet {
    color: white;
    text-decoration-line: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#portfolio-heroku-tablet {
    color: white;
    text-decoration-line: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#allchatv2-github-tablet {
    color: white;
    text-decoration-line: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#allchatv1-github-tablet {
    color: white;
    text-decoration-line: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#allchatv2-heroku-tablet {
    color: white;
    text-decoration-line: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#allchatv1-heroku-tablet {
    color: white;
    text-decoration-line: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#feast-fitness-github-tablet {
    color: white;
    text-decoration-line: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}