#contact-header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    margin-top: 20%;
    margin-left: 25%;
}

#phone {
    color: white;
    margin-left: 15%;
}

#email {
    color: white;
    margin-left: 15%;
    margin-bottom: 30%;
}