/* ProjectSectionMobile General Styling */

#project-page-mobile {
    margin-top: 3%;
}

#project-headers-container-mobile {
    margin: 0 auto;
    width: 70%;
}

#project-header-mobile {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#project-subheader-mobile {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 1%;
}

#project-container-mobile {
    background-color: rgb(180, 74, 70);
    margin: 0 auto;
    width: 70%;
    padding: 1%;
    overflow-y: auto;
    height: 715px;
}

/* Subsections Styling */

#portfolio-container-mobile, #allchatv2-container-mobile,
#allchatv1-container-mobile, #feast-fitness-container-mobile {
    margin-top: 0;
    border: solid white 2px;
}

#portfolio-image-mobile, #allchatv2-image-mobile, 
#allchatv1-image-mobile, #feast-fitness-image-mobile {
    margin-bottom: 5%;
}

#portfolio-links-container-mobile, #allchatv2-links-container-mobile,
#allchatv1-links-container-mobile, #feast-fitness-links-container-mobile {
    margin-top: 5%;
}

#portfolio-header-mobile, #allchatv2-header-mobile, 
#allchatv1-header-mobile, #feast-fitness-header-mobile,
#github-header-mobile, #heroku-header-mobile, 
.project-list-item-mobile, #portfolio-github-mobile, 
#portfolio-heroku-mobile, #allchatv2-github-mobile, 
#allchatv1-github-mobile, #allchatv2-heroku-mobile,
#allchatv1-heroku-mobile, #feast-fitness-github-mobile {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}