#footer {
    margin-top: 5%;
    background-color: rgb(180, 74, 70);
}

#footer-header {
    color: white;
    margin-left: 1%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#footer-react-image, #footer-semantic-image {
    margin-left: 15%;
}