/*ProjectSectionComputer Page Styling*/

#project-page-computer {
    margin-top: 3%;
}

#project-headers-container-computer {
    margin: 0 auto;
    width: 70%;
}

#project-header-computer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#project-subheader-computer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 1%;
}

#project-container-computer {
    background-color: rgb(180, 74, 70);
    margin: 0 auto;
    width: 70%;
    padding: 1%;
    overflow-y: auto;
    height: 715px;
}

#github-header-computer, #heroku-header-computer, .project-list-item-computer {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*Subsections Styling*/

#portfolio-container-computer, #allchatv2-container-computer, 
#allchatv1-container-computer, #gnorm-container-computer {
    margin-top: 0;
    border: solid white 2px;
}

#portfolio-header-computer, #allchatv2-header-computer, 
#allchatv1-header-computer, #gnorm-header-computer {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 5%;
}

#portfolio-github-computer, #portfolio-heroku-computer, 
#allchatv2-github-computer, #allchatv1-github-computer, 
#allchatv2-heroku-computer, #allchatv1-heroku-computer,
#gnorm-heroku-computer, #gnorm-github-computer {
    color: white;
    text-decoration-line: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}