#contact-container1 {
    margin: 0 auto;
    width: 78.25%;
    background-color: rgb(180, 74, 70);
}

#contact-container2 {
    margin: 0 auto;
    width: 80%
}

#contact-header-container {
    margin: 0 auto;
    width: 80%;
}

#contact-header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#contact-phone {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 20%;
}

#contact-email {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 25%;
}

#OR-connector {
    margin: 0 auto;
    width: 3%;
}

#contact-subheader1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 1%;
}

#contact-subheader2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}