/* #project-page {
    margin-top: 3%;
}

#project-headers-container {
    margin: 0 auto;
    width: 70%;
}

#project-header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#project-subheader {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 1%;
}

#project-container {
    background-color: rgb(180, 74, 70);
    margin: 0 auto;
    width: 70%;
    padding: 1%;
    overflow-y: auto;
    height: 715px;
}

#portfolio-container {
    margin-top: 0;
    border: solid white 2px;
}

#allchat-container {
    margin-top: 0;
    border: solid white 2px;
}

#feast-fitness-container {
    margin-top: 0;
    border: solid white 2px;
}

#portfolio-header {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#allchat-header {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#feast-fitness-header {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#github-header {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#heroku-header {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.project-list-item {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#portfolio-github {
    color: white;
    text-decoration-line: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#portfolio-heroku {
    color: white;
    text-decoration-line: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#allchat-github {
    color: white;
    text-decoration-line: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#allchat-heroku {
    color: white;
    text-decoration-line: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#feast-fitness-github {
    color: white;
    text-decoration-line: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */