#skills-page {
    margin-top: 3%;
}

#skills-headers-container {
    margin: 0 auto;
    width: 70%;
}

#skills-header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#skills-subheader {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 1%;
}

#skills-container {
    background-color: rgb(180, 74, 70);
    margin: 0 auto;
    width: 70%;
    padding: 1%;
    overflow-y: auto;
    height: 700px;
}

#html5-logo {
    margin: 0 auto;
}

#html5-header {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 2%;
    margin-left: 43.5%;
}

#css-logo {
    margin: 0 auto;
}

#css-header {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 3%;
    margin-left: 47%;
}

#javascript-logo {
    margin: 0 auto;
}

#javascript-header {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 2%;
    margin-left: 41%;
}

#jquery-logo {
    margin: 0 auto;
}

#jquery-header {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 2%;
    margin-left: 46%;
}

#sql-logo {
    margin: 0 auto;
}

#sql-header {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 2%;
    margin-left: 46.5%;
}

#mongo-logo {
    margin-left: 41%;
}

#mongo-header {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 1.5%;
    margin-left: 45%;
}

#react-logo {
    margin: 0 auto;
}

#react-header {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 2%;
    margin-left: 43%;
}

#redux-logo {
    margin-top: 5%;
    margin-left: 42.5%;
}

#redux-header {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 2%;
    margin-left: 47.25%;
}

#express-logo {
    margin-top: 7%;
    margin-left: 38%;
}

#express-header {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 8%;
    margin-left: 41.5%;
}

#canto-logo {
    margin-top: 5%;
    margin-left: 42.5%;
}

#canto-header {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 5%;
    margin-left: 37%;
    max-width: 35%;
    text-align: center;
}