#skills-page-mobile {
    margin-top: 3%;
}

#skills-headers-container-mobile {
    margin: 0 auto;
    width: 70%;
}

#skills-header-mobile {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#skills-subheader-mobile {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 1%;
}

#skills-container-mobile {
    background-color: rgb(180, 74, 70);
    margin: 0 auto;
    width: 70%;
    padding: 1%;
    overflow-y: auto;
    height: 700px;
}

#html5-logo-mobile {
    margin: 0 auto;
}

#html5-header-mobile {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 2%;
    margin-left: 33.5%;
}

#css-logo-mobile {
    margin: 0 auto;
}

#css-header-mobile {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 2.5%;
    margin-left: 42%;
}

#javascript-logo-mobile {
    margin: 0 auto;
}

#javascript-header-mobile {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 2%;
    margin-left: 28%;
}

#jquery-logo-mobile {
    margin: 0 auto;
}

#jquery-header-mobile {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 2%;
    margin-left: 36%;
    margin-bottom: 4%;
}

#sql-logo-mobile {
    margin: 0 auto;
}

#sql-header-mobile {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 4%;
    margin-left: 42%;
}

#mongo-logo-mobile {
    margin-left: 20%;
}

#mongo-header-mobile {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 1.5%;
    margin-left: 30%;
}

#react-logo-mobile {
    margin: 0 auto;
}

#react-header-mobile {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 2%;
    margin-left: 33%;
}

#redux-logo-mobile {
    margin-top: 11.75%;
    margin-left: 20%;
}

#redux-header-mobile {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 2%;
    margin-left: 32%;
}

#express-logo-mobile {
    margin-top: 17%;
    margin-left: 20%;
}

#express-header-mobile {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 15%;
    margin-left: 29%;
}

#canto-logo-mobile {
    margin-top: 15%;
    margin-left: 22%;
}

#canto-header-mobile {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 7%;
    margin-left: 40%;
}