#blog-page {
    margin-top: 3%;
}

#blog-header-container {
    margin: 0 auto;
    width: 70%;
    margin-bottom: 2%;
}

#blog-container {
    background-color: rgb(180, 74, 70);
    margin: 0 auto;
    width: 70%;
    padding: 1%;
    overflow-y: auto;
    max-height: 715px;
}

#blog-header, #blog-subheader {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#entry-header, #entry-text {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}